﻿@model SwinSchool.WebUI.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
}

<h3>Login to SECURE</h3>
<hr />
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <div class="form form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, new { @class = "control-label col-xs-3" })

            <div class="col-xs-9">
                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-xs-3" })

            <div class="col-xs-9">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-3"></div>
            <div class="col-xs-9">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </div>
    </div>
        
}


