﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/angular/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Latest compiled and minified CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Optional theme -->
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index","Home")">
                    SECURE
                </a>
            </div>

            <ul class="nav navbar-nav">
                @{
                    if (User != null && User.IsInRole("Administrator"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User administrator <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index","Admin")">User listing</a></li>
                                <li><a href="@Url.Action("Create","Admin")">Create user</a></li>
                            </ul>
                        </li>
                    }
                    if (User != null && User.IsInRole("Employee|Administrator"))
                    {
                        <li><a href="@Url.Action("Index","Employee")">User profile</a></li>
                    }
                    if (User == null)
                    {
                        <li><a href="@Url.Action("Login","Account")">Login</a></li>
                    }
                }

                
            </ul>

            @{ 
                if (User != null && User is SwinSchool.WebUI.Security.UserPrincipal)
                {
                    <p class="navbar-text">
                        Your are in role: @(Roles.GetRolesForUser().FirstOrDefault())
                    </p>
                }
            }

            @{
                if (User != null && User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="@Url.Action("Logout", "Account")">Logout</a></li>
                    </ul>
                }
            }
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    <!-- Latest compiled and minified JavaScript -->

    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
